/*
    --------------- Resets ---------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


/*
    --------------- Variables ---------------
*/

:root {
    --red: #e50914;
    --black: #141414;
}

/*
    --------------- Header and Nav ---------------
*/

header {
    margin: 20px 30px 10px 30px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo img{
    width: 138px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 25px;
}

header nav li a {
    text-decoration: none;
    color: #aaa;
    font-weight: 501;
    font-size: 15px;
    transition: 0.3s all;
}

header nav li a:hover {
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

/*
    --------------- Main ---------------
*/

main .filme-principal .container {
    margin: 0 30px;
    width: 70%;
}

.filme-principal {
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .4)), url(../img/capa-principal.jpg);
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
}

.filme-principal .descricao {
    margin: 15px 0 40px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.titulo {
    font-size: 40px;
}

/*
    --------------- Buttons ---------------
*/

.btn {
    background: #e50914;
    padding: 11px 20px;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
    margin: 0 15px 10px;
    transition: .3s ease all;
}

.btn:hover {
    background: #e50914dc;
    cursor: pointer;
}

.btn i {
    font-size: 0.8em;
    margin-right: 5px;
}

.btn-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 767.98px) {
    .btn {
        font-size: 0.8em;
    }

    .titulo {
        font-size: 30px;
    }

    .filme-principal {
        font-size: 17px;
    }

    header nav li a {
        font-size: 13px;
    }

    header nav ul li {
        margin-right: 10px;
    }

    main .filme-principal .container {
        width: 80%;
    }
}